.coverDiv {
    display: flex;
    justify-content: center;
    height: 250px;
    width: 100%;
    overflow: hidden;
    text-align: center;
}
.cover{
    width: auto; // L'immagine occupa il 100% della larghezza del div
    height: 100%; // L'altezza si adatta proporzionalmente per mantenere l'aspetto originale
    display: block; // Rimuove lo spazio extra sotto l'immagine quando si utilizza 'display: inline-block'
  }

.happening {
    color: transparent;
}