.coverDiv {
    height: 300px;
    width: 100%;
    overflow: hidden;
}
.cover{
    width: 100%; // L'immagine occupa il 100% della larghezza del div
    height: auto; // L'altezza si adatta proporzionalmente per mantenere l'aspetto originale
    display: block; // Rimuove lo spazio extra sotto l'immagine quando si utilizza 'display: inline-block'
  }

