.logoProm {
    width: 100%;
    height: auto; // L'altezza si adatta proporzionalmente per mantenere l'aspetto originale
    display: block;
}

.logoDiv {
    height: 45px;
    width: 45px;
    background-color: transparent;
    overflow: hidden;
    margin: 0 auto;
    margin-right: 10px;
}